<div class="row">
  <div class="container uploadFileTemplate">
    <div class="row">
      <div class="col-sm-12">
        <div class="cmnbox">

          <div class="thankyouBox text-center">
            <img src="assets/images/checked-green-big.png" class="thankyouimg" />
            <strong class="thankyou">Thank you!</strong>
          </div>

          <div class="text-center centeredTxt thankyouPage">We have successfully received premium
            amount of <span class="highlightedBlue">₹{{premiumAmount}}</span>. Your Transaction
            Reference ID is <span class="highlightedBlue">{{transactionID}}</span></div>

          <div class="text-center policyNote">Policy will be sent on your email & Whats app once processed.</div>

          <!-- <button type="button" class="cstmbtn centeredBtn">CLOSE</button> -->

        </div>
      </div>
    </div>
  </div>
</div>